# glob is used to retrieve files matching a specified pattern

In [ ]:
# Datasets Used : Store A.xlsx,Store B.xlsx,Store C.xlsx

In [1]:
import glob
import pandas as pd

In [14]:
# All file names under Sample folder
for name in glob.glob('D:/Anirban/Datasets/Sample/*'):
    print(name)

D:/Anirban/Datasets/Sample\Store A.xlsx
D:/Anirban/Datasets/Sample\Store B.xlsx
D:/Anirban/Datasets/Sample\Store C.xlsx

In [9]:
# All file names under Sample folder which contains A
for name in glob.glob('D:/Anirban/Datasets/Sample/*A*'):
    print(name)

D:/Anirban/Datasets/Sample\Store A.xlsx

# Combining all the files from a specific folder and storing it in a dataframe

In [4]:
# Extracting all the files from Sample folder which starts with Store
master_file=glob.glob('D:/Anirban/Datasets/Sample/Store*')
print(master_file)

['D:/Anirban/Datasets\\Store A.xlsx', 'D:/Anirban/Datasets\\Store B.xlsx', 'D:/Anirban/Datasets\\Store C.xlsx']

In [7]:
# Creating dataframe for each file and combining them in a master dataframe using concat
master_df=pd.concat(pd.read_excel(f) for f in master_file).reset_index(drop=True)
master_df

         Product   Sales
0         Shampoo   5000
1            Soap   6000
2        Biscuits   3000
3      Toothpaste   4000
4         Shampoo   1000
5      Toothbrush   2000
6            Soap   8000
7   Sunflower oil   3000
8         Cookies   5000
9         Shampoo   2000
10    Conditioner   7000
11      Face Wash   3500